/* :root {
    --background: #00537A;
    --titre: #F5A201;
    --sous-titre: #FFD35B;
    --clair: #A8E8F9;
    --foncé: #013C58;
    --très-foncé: #031226;
} */

:root {
    --blanc: #fff;
    --background: #daf4ff;
    --titre: #3d5cb2;
    --sous-titre: #0c437c;
    --texte: #315da5;
    --clair: #c8dfff;
    --foncé: #082956;
    --très-foncé: #021526;
}



body {
    background-color: var(--background);
    font-family: 'bitter' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--clair);
    font-size: 3vh;
    text-align: justify;

}

.content {
    max-width: 80vw;
    display: block;
    margin: auto;
}

main {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 4vh;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 7vh;
}


/* ------------ COULEURS ET TAILLES DE POLICE--------- */

h1 {
    color: var(--titre);
    
}

h2.Passion {
    font-family: 'bitter' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2,
h4 {
    color: var(--sous-titre);
}

h4 {
    margin-bottom: 2vh;
}

h3 {
    font-size: 4vh;
    background-color: var(--titre);
    color: var(--background);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0.6vh 2vh;
    text-transform: uppercase;
    border-radius: 3px;
}

h5 {
    color: var(--foncé);
    font-size: 3.3vh;
    margin-bottom: 1vh;
}

.Présentation__id {
    color: var(--clair);
}

h2,
h4 {
    font-size: 4vh;
    font-weight: bold;
    text-justify: none;
}

h2,
h4 {
    border-bottom: 0.2vh solid var(--sous-titre);
}




h2.Coordonnées__titre,
h2.Passion {
    color: var(--très-foncé);
    text-justify: none;
}

section.Présentation p {
    line-height: 4vh;
}

p,
li {
    margin: 0;
    color: var(--texte);
}

strong {
    font-weight: bolder;
}

main strong {
    color: var(--foncé);
}

/* --------------------LIEN CV HTML--------------------------*/

body.lien-cv{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a.lien-cv{
    text-decoration: none;
    color: var(--très-foncé);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clair);
    padding: 0.6vh 1.5vh;
    border: 2px solid var(--très-foncé);
    border-radius: 3px;
}

a.lien-cv:hover{
    background-color: var(--très-foncé);
    color: var(--background);
}

/* -----------------MISE EN PAGE HEADER-------------------- */

header.Présentation {
    background-color: var(--foncé);
    position: relative;
    padding: 4vh;
    height: 31vh;
    border-radius: 3px;
}

img.Présentation__photo {
    width: 30vh;
    border: 3vh solid var(--très-foncé);
    position: absolute;
    top: 2vh;
    right: 2vh;
    border-radius: 3px;

}

.Présentation__Nom {
    width: 40vw;
    margin: 0;
    position: absolute;
    top: 7.5vh;
    left: 3.7vw;
    color: var(--background);
}

h1.Présentation__Nom {
    font-size: 10vh;
    font-weight: bolder;
}

.Navigation{
    width: 70%;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
}

.Navigation__Liste{
    display: flex;
    justify-content: space-between;
}

.Navigation__Item{
    list-style-type:none;
    color: var(--très-foncé);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clair);
    padding: 0.6vh 1.5vh;
    border: 2px solid var(--très-foncé);
    border-radius: 3px;
}

.Navigation__Lien {
    text-decoration: none;
}

.Navigation__Item:hover {
    background-color: var(--très-foncé);
    color: var(--background);
}

.Présentation__Nom:hover {
    color: var(--blanc);
}

/* section.Présentation {
    position: absolute;
    left: 2vw;
    bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 46vw;
    max-height: 30vh;
} */

/* .Présentation__id,
.Présentation__Coordonnées {
    font-size: 2.5vh;
    background-color: var(--clair);
    padding: 0.5vh 1vw;
    color: var(--très-foncé);
    width: 40%;
    height: 10%;
    border: 0.2vh solid var(--très-foncé);
} */

/* div.Présentation__id > p,
div.Présentation__Coordonnées > p {
    line-height: 2.7vh;
    text-justify: initial;
} */

/* 
h2.Coordonnées__titre {
    font-size: 4vh;
    margin: 0.4vh 0 0.3vh;
    border: none;
} */

/* -----------------MISE EN PAGE SECTION PRO----------------------  */

.Profession {
    width: 60%;
}

ul {
    margin-left: 2vh;
}



/* --------------------MISE EN PAGE SECTION PASSION---------------- */

img.Passion__Images {
    width: 9rem;
    padding: 0;
    border-radius: 3px;
}

main.index img.Passion__Images:hover {
    transform: scale(3);
    transition-duration: 1.2s;
}

.Passion__Images {
    display: flex;
    justify-content: space-around;
    padding: 1.2vh;
}

h5.Passion__labo,
h5.Passion__Perso{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin-left: 2vh;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 3.8vh;
}

h5.Passion__Perso {
    margin-top: 1.3vh;
}

h5.Passion__labo{
    margin-top: 0;
}

a.Passion{
    text-decoration: none;
}

h2.Passion:hover{
    color: var(--titre);
}

a.Passion__Perso,
a.Passion__labo,
a.Passion__Plus {
    color: var(--foncé);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-shadow: 1px var(--titre);
    color : var(--très-foncé);
}

aside.Passion {
    display: flex;
    flex-direction: column;
    background-color: var(--clair);
    color: var(--très-foncé);
    width: 30%;
    height: fit-content;
    padding: 3vh;
    border: .5vh solid var(--très-foncé);
    border-radius: 4px;
}

h2.Passion {
    font-size: 6.5vh;
    border-bottom: none;
    font-family: initial;
    line-height: 5.3vh;
    margin-top: 2vh;
}

em.Passion {
    font-size: 5vh;
    font-style: normal;
}

aside.Passion p {
    font-size: 2.78vh;
    padding: 2vh;
    line-height: 3.2vh;
}

.Passion-plus {
    margin-top: 2vh;
    align-self: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

a.Passion__Plus {
    list-style-type:none;
    color: var(--très-foncé);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clair);
    padding: 0.6vh 1.5vh;
    border: 2px solid var(--très-foncé);
    border-radius: 3px;
}

a.Passion__Plus:hover {
    background-color: var(--très-foncé);
    color: var(--background);
}

div.Passion__labo {
    margin-bottom: 3vh;
}


/* --------------------RESPONSIVE---------------------- */

@media (max-width: 1250px) {
    main {
        display: block;
    }
    .Profession {
        width:100%;
        margin: 0;
    }
    aside.Passion {
        width:100%;
        margin: 0;
    }
}

/* -------------------------------------PAGE CONTACT-------------------------------------*/

main.contact {
    display: flex;
    margin: 5vh;
}

div.Présentation__Coordonnées {
    width: 25vw;
}

.Formulaire {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
}

.nom,
.email,
.message {
    color: var(--très-foncé);
}

form {
    box-sizing: border-box;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--titre);
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
    font-size: 2.5vh;
    padding: 12px 20px;
    cursor: pointer; 
    border-radius: 4px;
    float: right; 
    list-style-type:none;
    color: var(--très-foncé);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clair);
    padding: 0.6vh 1.5vh;
    border: 2px solid var(--très-foncé);
    height: 5vh;
    width: 8vw;
}

input[type=submit]:hover {
    background-color: var(--très-foncé);
    color: var(--background);
}

.container {
  border-radius: 5px;
  background-color: var(--clair);
  padding: 5px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* ----------------------------------PAGE ARTISTE-------------------------------------------------*/

main.Passion {
    display: flex;
    flex-direction: column;
    margin: 3vh 2vw;
}

div.Passion__Labo-images {
    margin-top : 5vh;
    display: flex;
    justify-content: space-around;

}

main.Passion figure {
    margin: 0;
}

img.Passion__Labo-images {
    height: 60vh;
    border: solid 2px var(--foncé);
    border-radius: 3px;
}

main.Passion p.Passion__labo,
main.Passion p.Passion__Perso {
    margin: 2vh;
}

main.Passion h5.Passion__Perso {
    margin-top: 5vh;
}

main.Passion div.Passion__Images,
div.Commissions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main.Passion img.Passion__Images {
    width: 20vw;
    padding: 0;
    border: solid 2px var(--foncé);
    border-radius: 3px;
}

div.Commissions {
    margin-top: 5vh;
    margin-bottom: 50vh;
}

p.Commissions {
    margin-bottom: 5vh;
    align-self: stretch;
    width: 100%;
}

figure {
    position: relative;
}

figcaption{
    display: none;
}
/* figcaption {
    padding: 0.1vh 0.6vh;
    position: absolute;
    Bottom: -6vh;
    right: 1vw;
    background-color: var(--très-foncé);
    color: var(--clair);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: smaller;
    border-top-left-radius: 3px;
} */