/* :root {
    --background: #00537A;
    --titre: #F5A201;
    --sous-titre: #FFD35B;
    --clair: #A8E8F9;
    --foncé: #013C58;
    --très-foncé: #031226;
} */


:root {
    --blanc: #fff;

    --background: #faf0e6;
    --titre: #66cdaa;
    --sous-titre: #a5d971;
    --texte: #DB7093;
    --clair: #ffc0cb;
    --foncé: #6667AB;
    --très-foncé: #540c54;

    --tendance-background: #faf0e6;
    --tendance-titre: #66cdaa;
    --tendance-sous-titre: #a5d971;
    --tendance-texte: #DB7093;
    --tendance-clair: #ffc0cb;
    --tendance-foncé: #6667AB;
    --tendance-très-foncé: #540c54;

    --blue-background: #daf4ff;
    --blue-titre: #3d5cb2;
    --blue-sous-titre: #0c437c;
    --blue-texte: #315da5;
    --blue-clair: #c8dfff;
    --blue-foncé: #082956;
    --blue-très-foncé: #021526;

    --red-background: #ffdada;
    --red-titre: #b23d3d;
    --red-sous-titre: #7c0c0c;
    --red-texte: #a53131;
    --red-clair: #ffc8c8;
    --red-foncé: #560808;
    --red-très-foncé: #260202;

    --green-background: #e5ffda;
    --green-titre: #5eb23d;
    --green-sous-titre: #377c0c;
    --green-texte: #54a531;
    --green-clair: #d8ffc8;
    --green-foncé: #225608;
    --green-très-foncé: #0d2602;
}

/**--------------------------THEMES-------------------------------**/

#red {
    background-color: var(--red-texte);
}

#green {
    background-color:var(--green-texte);
}

#blue {
    background-color: var(--blue-texte);
}

#tendance {
    background-color: var(--tendance-texte);
}

/**---------------------------------------------------------------**/

body {
    background-color: var(--background);
    /* font-family: 'bitter' 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Playfair Display', serif;
    color: var(--clair);
    font-size: 3vh;
    text-align: justify;

}

.content {
    max-width: 80vw;
    display: block;
    margin: auto;
}

main {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 4vh;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 7vh;
}


/* ------------ COULEURS ET TAILLES DE POLICE--------- */

h1 {
    color: var(--titre);
}

h2.Passion,
h2.Qui__titre {
    font-family: 'Playfair Display', serif;
}

h2,
h4 {
    color: var(--sous-titre);
}

h4 {
    margin-bottom: 2vh;
}

h3 {
    font-size: 4vh;
    background-color: var(--titre);
    color: var(--background);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0.6vh 2vh;
    text-transform: uppercase;
    border-radius: 3px;
}

h5 {
    color: var(--foncé);
    font-size: 3.3vh;
    margin-bottom: 1vh;
}

.Présentation__id {
    color: var(--clair);
}

h2,
h4 {
    font-size: 4vh;
    font-weight: bold;
    text-justify: none;
}

h2,
h4 {
    border-bottom: 0.2vh solid var(--sous-titre);
}


h2.Coordonnées__titre,
h2.Passion {
    color: var(--très-foncé);
    text-justify: none;
}

section.Présentation p {
    line-height: 4vh;
}

p,
li {
    margin: 0;
    color: var(--texte);
    font-family: 'Playfair Display', serif;
}

strong {
    font-weight: bolder;
}

main strong {
    color: var(--foncé);
}

li.Formation,
li.dev,
li.Ide,
li.Xpautre__pro,
li.langues,
li.divers,
p.Passion__labo,
p.Passion__Perso,
p.Commissions {
    font-family: 'bitter', serif;
}

a.Passion__labo,
a.Passion__Perso {
    color: var(--titre);
}


/* -----------------MISE EN PAGE HEADER-------------------- */

/** Boutons **/
section.theme-btn {
    display: flex;
    width: 6em;
    justify-content: space-between;
}

button.theme-btn {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: none;
}

button:hover{
    cursor: pointer;
}

/**----------------**/

header.Présentation {
    background-color: var(--foncé);
    position: relative;
    padding: 4vh;
    height: 31vh;
    border-radius: 3px;
}

img.Présentation__photo {
    width: 30vh;
    border: 3vh solid var(--très-foncé);
    position: absolute;
    top: 2vh;
    right: 2vh;
    border-radius: 3px;

}

.Présentation__Nom {
    width: 40vw;
    margin: 0;
    position: absolute;
    top: 7.5vh;
    left: 3.7vw;
    color: var(--background);
}

h1.Présentation__Nom {
    font-size: 10vh;
    font-weight: bolder;
}

.Navigation{
    width: 55%;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
}

.Navigation__Liste{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Navigation__Item{
    list-style-type:none;
    color: var(--très-foncé);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clair);
    padding: 0.6vh 1.5vh;
    border: 2px solid var(--très-foncé);
    border-radius: 3px;
}

.Navigation__Lien {
    text-decoration: none;
}

.Navigation__Item:hover {
    background-color: var(--très-foncé);
    color: var(--background);
}

.Présentation__Nom:hover {
    color: var(--blanc);
}


/* -----------------MISE EN PAGE SECTION PRO----------------------  */

.Profession {
    width: 60%;
}

ul {
    margin-left: 2vh;
    font-family: 'bitter', serif;
}



/* --------------------MISE EN PAGE SECTION PASSION---------------- */

img.Passion__Images {
    width: 9rem;
    padding: 0;
    border-radius: 3px;
}

main.index img.Passion__Images:hover {
    transform: scale(3);
    transition-duration: 1.2s;
}

.Passion__Images {
    display: flex;
    justify-content: space-around;
    padding: 1.2vh;
}

h5.Passion__labo,
h5.Passion__Perso{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin-left: 2vh;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 3.8vh;
}

h5.Passion__Perso {
    margin-top: 1.3vh;
}

h5.Passion__labo{
    margin-top: 0;
}

a.Passion{
    text-decoration: none;
}


a.Passion__Perso,
a.Passion__labo,
a.Passion__Plus {
    color: var(--titre);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-shadow: 1px var(--titre);
    color : var(--très-foncé);
}

aside.Passion {
    display: flex;
    flex-direction: column;
    background-color: var(--clair);
    color: var(--très-foncé);
    width: 30%;
    height: fit-content;
    padding: 3vh;
    border: .5vh solid var(--très-foncé);
    border-radius: 4px;
}

h2.Passion {
    font-size: 6.5vh;
    border-bottom: none;
    font-family: 'Playfair Display', serif;
    line-height: 5.3vh;
    margin-top: 2vh;
}

em.Passion {
    font-size: 5vh;
    font-style: normal;
}

aside.Passion p {
    font-size: 2.78vh;
    padding: 2vh;
    line-height: 3.2vh;
}

.Passion-plus {
    margin-top: 2vh;
    align-self: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

a.Passion__Plus {
    list-style-type:none;
    color: var(--très-foncé);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clair);
    padding: 0.6vh 1.5vh;
    border: 2px solid var(--très-foncé);
    border-radius: 3px;
}

a.Passion__Plus:hover {
    background-color: var(--très-foncé);
    color: var(--background);
}

div.Passion__labo {
    margin-bottom: 3vh;
}

/* -------------------------------------PAGE CONTACT-------------------------------------*/

main.contact {
    display: flex;
    margin: 5vh;
}

div.Présentation__Coordonnées {
    width: 25vw;
}

p.Coordonnées__Tel, 
p.coordonnées__mail {
    font-family: 'bitter', serif;
    text-justify: none;
}

h2.Coordonnées__titre {
    font-family: 'Playfair Display', serif;;
}

.Formulaire {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
}

.nom,
.email,
.message {
    color: var(--très-foncé);
}

form {
    box-sizing: border-box;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--titre);
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
    font-size: 2.5vh;
    padding: 12px 20px;
    cursor: pointer; 
    border-radius: 4px;
    float: right; 
    list-style-type:none;
    color: var(--très-foncé);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clair);
    padding: 0.6vh 1.5vh;
    border: 2px solid var(--très-foncé);
    height: 5vh;
    width: 8vw;
}

input[type=submit]:hover {
    background-color: var(--très-foncé);
    color: var(--background);
}

.container {
  border-radius: 5px;
  background-color: var(--clair);
  padding: 5px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* ----------------------------------PAGE ARTISTE-------------------------------------------------*/

main.Passion {
    display: flex;
    flex-direction: column;
    margin: 3vh 2vw;
}

div.Passion__Labo-images {
    margin-top : 5vh;
    display: flex;
    justify-content: space-around;

}

main.Passion figure {
    margin: 0;
}

img.Passion__Labo-images {
    height: 60vh;
    border: solid 2px var(--foncé);
    border-radius: 3px;
}

main.Passion p.Passion__labo,
main.Passion p.Passion__Perso {
    margin: 2vh;
}

main.Passion h5.Passion__Perso {
    margin-top: 5vh;
}

main.Passion div.Passion__Images,
div.Commissions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main.Passion img.Passion__Images {
    width: 20vw;
    padding: 0;
    border: solid 2px var(--foncé);
    border-radius: 3px;
}

div.Commissions {
    margin-top: 5vh;
    margin-bottom: 50vh;
}

p.Commissions {
    margin-bottom: 5vh;
    align-self: stretch;
    width: 100%;
}

figure {
    position: relative;
}

figcaption{
    display: none;
}
/* figcaption {
    padding: 0.1vh 0.6vh;
    position: absolute;
    Bottom: -6vh;
    right: 1vw;
    background-color: var(--très-foncé);
    color: var(--clair);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: smaller;
    border-top-left-radius: 3px;
} */

/* ------------------------------------PAGE QUI SUIS JE --------------------------------------------------------*/

main.QuiSuisJe {
    margin: 3vh 2vw;
    display: block;
}


p.Historique,
p.Loisirs {
    margin-top: 2vh;
}

section.Qui__loisirs {
    margin-bottom: 10vh;
}

section.Qui__loisirs em,
section.Qui__historique em {
    font-style: normal;
    font-weight: bold;
    color: var(--foncé);
}

h2.Qui__titre {
    font-size: 6.5vh;
    color: var(--très-foncé);
    border: none;
}

/* --------------------RESPONSIVE---------------------- */

@media (max-width: 1250px) {
    main {
        display: block;
        font-size: 2vh;
    }
    .Profession {
        width:100%;
        margin: 0;
    }
    aside.Passion {
        width:100%;
        margin: 0;
    }

    header.Présentation {
        height: 20vh;
    }

    button.theme-btn {
        width: 3.5vh;
        height: 3.5vh; 
    }

    h1.Présentation__Nom {
        font-size: 6vh;
    }

    ul.Navigation__Liste {
        width: 50vw;
    }

    li.Navigation__Item {
        font-size: 2.2vh;
    }

    img.Présentation__photo {
        height: 15vh;
        width: 15.5vh;
        border: 2.5vh solid var(--très-foncé);
    }

    .Formulaire {
        width: 40vw;
    }

}

@media (max-width: 900px) {
    main {
        font-size: 3vh;
    }
}

@media (max-width: 550px) {

    body {
        margin: 0;
        width: 100vw;
    }

    div.content {
        margin: 0;
        width: 100vw;
    }

    main {
        font-size: 2.5vh;
        margin:auto;
        width: 100vw;
        line-height: 3.3vh;
    }
    
    main.QuiSuisJe {
        margin-left: 0;
    }

    header.Présentation {
        height: 40vh;
        width: 100%;
        margin: auto;
    }

    section.Présentation,
    main.Passion div.Passion__labo,
    main.Passion div.Passion__perso,
    main.Passion div.Passion__Labo-images,
    main.Passion div.Passion__Images { 
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 2vw;
    }

    h1.Présentation__Nom {
        position: unset;
        font-size: 5vh;
        margin:0;
        text-decoration: none;
    }
    nav.Navigation {
        position: unset;
        display: block;
        align-self: center;
    }

    a.Nom-lien {
        text-decoration: none;
    }

    img.Présentation__photo {
    top: 4vh;
    right: 5vw;
    width: 15vw;
    height: 15vw;
    border: 2vw solid var(--très-foncé);
    }

    ul.Navigation__Liste{
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 0;
       margin: 2vh 0;
    }

    section.Profession,
    aside.Passion,
    section.Qui__historique,
    section.Qui__loisirs,
    h3.Historique__titre,
    h3.Loisirs__titre {
        width: auto;
    }

    ul.Profession__Formation,
    ul.Xppro__dev,
    ul.Xppro__Ide,
    ul.Xpautre__pro,
    ul.compétences__langues,
    ul.divers,
    p.Historique,
    h2.Qui__titre,
    p.Loisirs,
    p.Commissions {
        padding-right: 4vw;
        padding-left: 5vw;
    }

    h2.Passion,
    em.Passion,
    h2.Qui__titre {
        font-size: 4vh;
    }

    aside.Passion p {
        font-size: 2vh;
    }

    img.Passion__Images {
        width: 35%;
    }

    div.Commissions {
        flex-direction: column;
    }

    div.Passion__Labo-images {
        display: block;
    }

    img.Passion__Labo-images,
    figure > img.Passion__Images {
        width: 80%;
        height: auto;
        margin: 1vh 0vh 0vh 0vh;
        display: block;
    }

    div.Passion__Images {
        width: auto;
    }
}

 