/*RED*/
body{
    background-color: var(--red-background);
    color: var(--red-clair);
}

h1 {
    color: var(--red-titre);
}

h2,
h4 {
    color: var(--red-sous-titre);
}

h3 {
    background-color: var(--red-titre);
    color: var(--red-background);
}

h5,
main strong {
    color: var(--red-foncé);
}

.Présentation__id {
    color: var(--red-clair);
}

h2,
h4 {
    border-bottom-color: var(--red-sous-titre);
}

h2.Coordonnées__titre,
h2.Passion {
    color: var(--red-très-foncé);
}

p,
li {
    color: var(--red-texte);
}

header.Présentation {
    background-color: var(--red-foncé);
}

img.Présentation__photo {
    border-color: var(--red-très-foncé);
}

.Présentation__Nom {
    color: var(--red-background);
}

.Navigation__Item{
    color: var(--red-très-foncé);
    background-color: var(--red-clair);
    border-color: var(--red-très-foncé);
}

.Navigation__Item:hover {
    background-color: var(--red-très-foncé);
    color: var(--red-background);
}

a.Passion__Perso,
a.Passion__labo,
a.Passion__Plus {
    color: var(--red-foncé);
}

a:hover {
    text-shadow: 1px var(--red-titre);
    color : var(--red-très-foncé);
}

aside.Passion {
    background-color: var(--red-clair);
    color: var(--red-très-foncé);
    border-color: var(--red-très-foncé);
}

a.Passion__Plus {
    color: var(--red-très-foncé);
    background-color: var(--red-clair);
    border-color: var(--red-très-foncé);
}

a.Passion__Plus:hover {
    background-color: var(--red-très-foncé);
    color: var(--red-background);
}

main.Passion img.Passion__Images {
    border-color: var(--red-foncé);
}

.nom,
.email,
.message {
    color: var(--red-très-foncé);
}

input[type=text],
input[type=email],
select,
textarea {
  border-color: var(--red-titre);
}

input[type=submit] {
    color: var(--red-très-foncé);
    background-color: var(--red-clair);
    border-color: var(--red-très-foncé);
}

input[type=submit]:hover {
    background-color: var(--red-très-foncé);
    color: var(--red-background);
}

.container {
  background-color: var(--red-clair);
}

img.Passion__Labo-images {
    border-color: var(--red-foncé);
}

section.Qui__loisirs em,
section.Qui__historique em {
    color: var(--red-foncé);
}

h2.Qui__titre {
    color: var(--red-très-foncé);
}
